<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data source=DB11G_GOSTAR;user id=GOSTAR_ELSEVIER;password=gostar_elsevier;"/>
    <add key="PuttyKeyPath" value="Software\SimonTatham\PuTTY\SshHostKeys"/>
    <add key="KeyValue" value="0x23,0xa0f5aa3ebc2957eb2a00409e22dee5db16d2a4105c4f0e7c8653c58c5324fc6115d23affb4cf23175fe95e69d162c498596e0c70505780b7f58c9f3c9e3978a9562e7afffd5226d7cc66cedb8d09a9483692df7f303ec1f74415bbedb070450f8f18559ddbdcbf21b038fd6d3951f1318184b09519749a11084dc5ed674f64da4e12b04c6ee5509e5fdb60f30b40fbfa67ae33e16e9476a70fa7db1b398474213c989ca5303bf56ac384739196bcc7e275ab9ae702e430c5b39e4ada4ecf192ed8074fb125f104a9a6cf42c69e450ff4e28fce8d3213dc44ee86adb3690b010dd68175a72597b2965005d95df94d0c2af6b5acbf05b9162b25e5cea86ecb062b"/>
    <add key="PuttyKey" value="rsa2@22:172.21.2.17"/>
    <add key="pscpservername" value="172.21.2.17"/>
    <add key="pscpusername" value="root"/>
    <add key="pscppassword" value="gvkbio123"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>   
   
    <!--Development Schema Connection string-->
    <add key="HOSTNAME" value="172.21.0.64"/>
    <add key="PORTNUMBER" value="1521"/>
    <add key="DATABASE" value="orcl.gvkbio.com"/>
    <add key="USERNAME" value="WILEY_CHEMINFORM_PROD"/>
    <add key="PASSWORD" value="WILEY_CHEMINFORM_PROD"/>
   
    <add key="Delimiter" value=";"/>
    <add key="SecurityKey" value="~!@#$%^A()_+"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="FileServerPath" value="\\172.21.0.80\cas_app_files\INDEXING\"/>
    <add key="DomainAdminUser" value="infh-admin1"/>  
    <add key="DomainAdminPwd" value="SaiBaba@786"/>

 
    <add key="PatchUpdatesServerPath" value="\\172.21.0.80\PatchUpdates\Wiley-ChemInform"/>
 
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
